.profile-card { 
  width: 400px; 
  padding: 20px; 
  border-radius: 15px; 
  text-align: center; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
  transition: transform 0.3s ease; 
} 
 
.profile-card:hover { 
  transform: scale(1.05); 
} 
 
.profile-image { 
  width: 170px; 
  height: 170px; 
  border-radius: 50%; 
  object-fit: cover; 
  margin-bottom: 10px; 
} 
 
.profile-name { 
  font-size: 24px; 
  font-weight: bold; 
  color: blue; 
} 
 
.profile-bio { 
  font-size: 19px; 
  color: #333; 
}
